{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRF Frontend</title>
</head>
<body>
    <h1>DRF Frontend</h1>

    <!-- Your content here -->

    <!-- <a href="{% url 'owner_profile' owner_id=request.user.id %}" id="linkToOwnerProfile">Link to Owner Profile</a> -->

    <!-- Link to Pet Profile -->
    <!-- <a href="{% url 'pet_profile' pet_id=1 %}" id="linkToPetProfile">Link to Pet Profile</a> -->

    <!-- Include jQuery for simplicity in this example -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>
</html>